/* 
	Theme Name: HealthCare - Test
 */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
 blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
 ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
 dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
 figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }

 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 /* Force scrollbar */
 html { overflow-y: scroll; }
 /* Align radios and text inputs with their label */
 input[type='radio'] { vertical-align: text-bottom; }
 /* Hand cursor on clickable input elements */
 label,
 input[type='button'],
 input[type='submit'],
 button {
   cursor: pointer;
 }

 strong {
   font-weight: bold;
   font-family: inherit;
   font-size: inherit;
 }

 em { font-style: italic; }

 img {
   border: 0;
   vertical-align: middle;
 }

 sub,
 sup {
   vertical-align: baseline;
   position: relative;
   font-size: 55%;
   line-height: 0;
 }

 sup { top: -.7em; }
 sub { bottom: -.25em; }
 /* 1.2. Clear Fix
    ========================================================================== */
 .cf:before,
 .cf:after {
   display: table;
   content: " ";
 }
 .cf:after { clear: both; }
 .cf { *zoom: 1; }
 /* ==========================================================================
    2.Common Styling
    ========================================================================== */
 * {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 .container { width: 100%; }

 .wrapper {
   max-width: 1500px;
   width: 85.5%;
   margin: 0 auto;
 }

 .fas { padding-right: 5px; }
 body { font-family: Arial; }
 ul li { list-style: none; }
 img { width: 100%; }
 .uppercase { text-transform: uppercase; }
 .first-letter:first-letter { text-transform: capitalize; }
 .block { display: block; }
 .centre { text-align: center; }

 .inline-block { 
   display: inline-block;
   vertical-align: top;
 }

 .transition {
    -webkit-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
 }

 a { 
   display: inline-block;
   text-decoration: none;
   color: inherit;
 }

/*	-----------------------------------------
				Header 		
	--------------------------------
*/

header{
	width: 100%;	
	margin : 0 auto;
}

h1{
	padding: 25px 28px;
	width: 17%;	
	display: inline-block;
	vertical-align: baseline;
}

h1 a{
	width: 100%;
}

nav{
	display: inline-block;
	width: 82%;
	vertical-align: baseline;
}

.header-site-nav ul{
	padding-left: 23%;
}
.header-site-nav ul li{
	display: inline-block;
	padding: 20px 0;
	padding-left: 20px; 
}
.header-site-nav ul li a{
	color: #2e5c86;
	font-size: 17px;
}
.header-bottom{
	background-color: #4588c8;
	color : #86a5c1;
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
	font-weight:  bold;
}
.header-bottom-social{
	padding-left: 67%;
	display: inline-block;
}
.header-bottom span{
	padding-left: 25px;
	display: inline-block;
}


.header-bottom-social ul{
	display: inline-block;
}

.header-bottom-social ul li{
	display: inline-block;
	width: 19px;
	padding: 8px 2px;
}



/*-------------- Health care provider --------------*/


.health-provider{
	padding: 80px;
}

.health-provider h2{
	font-size: 30px;
	color: #0a4474;
}


.health-provider p{
	padding: 36px 0;
	line-height: 1.5; 
	font-size: 24px;
	color: #bbb;
	width: 60%;
	display: inline-block;
}

.health-provider a{
	display: inline-block;
	float: right;
	text-transform: uppercase;
	padding: 24px;
	font-size: 12px;
	font-weight: bold;
	color : #003e6f;
	letter-spacing: 1px;
	border: 2px solid #55d5b1 ;
}











/* ----------------  sidebar ------------------------*/

aside{
	float: right;	
	width: 25%;
}



.sidebar-item{
	margin-bottom: 26px;
	padding: 20px 10px;
	text-align: center; 
	box-sizing: border-box;
	border : 2px solid #ddd ;
}

aside h3{
	text-transform: uppercase;
	color: #0c4574;
	font-weight: bold;
	font-size: 17px;	
}
aside p{
	padding: 20px 0;

}



/* -------  Services -------------*/
.services{
	width: 60%;
	margin-bottom: 70px;
}

.services .left, .services .right{
	width: 48%;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 15px;

}

.services .right h2{
	color: #0c4574;
	font-size: 25px;
	padding: 10px;
}

.services .right p{
	color: #999;
	font-size: 14px;
	padding: 10px;
	line-height: 1.2;
}

.services .right a{
	text-transform: uppercase;
	font-size: 13px;
	color: #0c4574;
	font-weight: bold;
	padding-left: 10px;

		
}



/*   --------- Testimonal ------------------------ */



.testimonials-item{
	padding: 90px 100px;
	text-align: center;
	background: linear-gradient(to bottom right, #50ceac, #084c75);
}

.testimonials-item p{
	color: #fff;
	line-height: 2;
	font-size: 24px;	
	
}

.testimonials-item :first-child{
	padding: 100px 0;
}


.testimonials-item span{
	font-size: 15px;
	color: #eee;
	display: block; 
}


/* ------------- FOOTER ------------------------ */



footer{
	text-align: center;

}

footer h3 img{
	width: 3.5%;
	padding: 75px 0 50px 0;
}


.footer-li{
	display: inline-block;
	font-size: 14px;
	color: #0c4574;
	padding-left: 42px;
}

.footer-li ul li{
	display: inline-block;
}

.footer-li ul li img{
	width: 65%;
} 
.footer-site-nav{
	margin-top: 44px;
}

.footer-site-nav ul li{
	display: inline-block;
	padding: 0 21px; 
	color: #0c4574;
	font-size: 15px;
}


footer span{

	color: #bbb;
	font-size: 13px; 

	
}

footer span{
	display: block;
		padding: 68px 0;
	color: #bbb;
	font-size: 13px; 
}

